pyrogram
tgcrypto
pytgcalls[pyrogram]
python-dotenv
yt-dlp
youtube-search-python
requests
aiohttp
aiofiles
asyncio
youtube-search
search-engine-parser
ffmpeg-python
pillow
python-arq
future
psutil
wget
tswift
regex
